  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    background-color:#fdfaf3;
    color:#000000;
    font-family:"poppins",sans-serif;
    margin:0px;
}

.navbar {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0rem;
    border-bottom:2px solid #000;
}

.navbar h1{
    margin:0px;
    padding:1rem;
}

.heading-left{
    border-lrft:2px solid #0000;
    padding-left:20px;
}

.resume-heading{
    border-left:2px solid black;
    padding-left:20px;
}

.main-body {
    display:flex;
    justify-content:space-between ;
    align-items:flex-start;
}

.left-div{
    /*padding: 1rem;*/
    width:100%;
}

.first-div,
.second-div {
    padding: 1rem;

    border-bottom: 2px solid #000;
    width: 100%;
}

.right-img {
    height: 100%;
    width: 50%;
    object-fit:cover;
    border-left: 2px solid #000;
}

.box-flex {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.box {
    border: 2px solid #000;
    border-radius: 32px;
    padding: 16px;
    width: 100px;
    text-align: center;
    padding: 10px;
}






